:root {
  --board-bg: white;
  --cell-size: 70px;
  --board-width: 320px;
  --board-height: 320px;
}

.board {
  margin-top: 70px;
  flex-basis: 45%;
  border-radius: var(--roundness);
  width: var(--board-width);
  height: var(--board-height);
  background-color: var(--board-bg);

  transition: all 0.25s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--cell-size);
  height: var(--cell-size);

  cursor: pointer;
  border: 1px solid black;

  position: relative;
}

/* ================== Remove Border Boundaries ================== */
/***/
/* remove the top boundary */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

/* remove the left boundary */
.cell:nth-child(3n + 1) {
  border-left: none;
}

/* remove the right boundary */
.cell:nth-child(3n + 3) {
  border-right: none;
}

/* remove the bottom boundary */
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

/* If the cell already has an X or O then don't allow */
.cell.cross,
.cell.circle {
  cursor: not-allowed;
}

.cell.cross::before,
.cell.cross::after {
  background-color: var(--cross-color);
}
.cell.circle::before {
  background-color: var(--outer-circle-color);
}

.board.cross .cell:not(.cross):not(.circle):hover::before,
.board.cross .cell:not(.cross):not(.circle):hover::after,
.board.circle .cell:not(.cross):not(.circle):hover::before {
  background-color: lightgrey;
}

/* ------------ Cross ------------ */
.cell.cross::before,
.cell.cross::after,
.board.cross .cell:not(.cross):not(.circle):hover::before,
.board.cross .cell:not(.cross):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.cross::before,
.board.cross .cell:not(.cross):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.cross::after,
.board.cross .cell:not(.cross):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* ------------ Circle ------------ */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.cross):not(.circle):hover::before,
.board.circle .cell:not(.cross):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.cross):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.cross):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);

  background-color: var(--inner-circle-color);
}
