.GAME-BOX {
  width: var(--card-width);
  height: var(--card-height);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  box-shadow: var(--game-info-shadow);
}

/* -------------- game-heading -------------- */
.game-heading {
  transform: translateY(23px);
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: rgb(101, 0, 173);

  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
}

/* board container */
.board-container {
  height: 250px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer {
  height: 43px;
  width: 125px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 45px;
  background-color: black;
}
.timer i {
  color: whitesmoke;
  font-size: 1.9rem;
  margin-right: 7px;
}
.timer span {
  font-size: 1.1rem;
  margin-right: 4px;
  font-family: "Work Sans", sans-serif;

  color: rgb(165, 163, 163);
}

.utility {
  height: 240px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.utility .human-computer {
  height: 50px;
}
.utility .buttons {
  transform: translateY(-10px);
}

.utility .human-computer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.utility .human-computer i {
  font-size: 2.4rem;
}
.utility .human-computer .versus {
  color: rgb(150, 150, 150);
  font-size: 1.2rem;
  margin: 0px 20px;
}

.utility .buttons button.play,
.utility .buttons button.pause,
.utility .buttons button.restart {
  width: 130px;
  height: 60%;

  cursor: pointer;
  border: none;

  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.utility .buttons button.restart {
  width: 150px;
}
.utility .buttons i {
  font-size: 2.2rem;
}
.utility .buttons .restart i {
  font-size: 2rem;
}
.utility .buttons .play span {
  font-size: 1.4rem;
}
.utility .buttons .pause span {
  font-size: 1.4rem;
}
.utility .buttons .restart span {
  font-size: 1.4rem;
}
.utility .buttons {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.utility .buttons span.restart-text {
  transform: translateX(-8px);
}

.utility .buttons span.play-text {
  transform: translateX(-14px);
}
.utility .buttons span.pause-text {
  transform: translateX(-8px);
}

.utility .buttons .play {
  outline-style: solid;
  outline-width: 6px;
  outline-color: rgb(162, 255, 158);

  color: white;
  background-color: rgb(9, 187, 0);
}
.utility .buttons .pause {
  outline-style: solid;
  outline-width: 6px;
  outline-color: rgb(255, 208, 208);

  color: white;
  background-color: rgb(255, 44, 44);
}
.utility .buttons .restart {
  outline-style: solid;
  outline-width: 6px;
  outline-color: rgba(149, 0, 255, 0.3);

  color: white;
  background-color: blueviolet;
}
.utility .buttons .play:active,
.utility .buttons .pause:active,
.utility .buttons .restart:active {
  transform: scale(0.98, 0.98);
  transition: all 0.1s ease;
}
.utility .buttons .restart:active .fa-arrow-rotate-right {
  transform: rotate(90deg);
}

.utility .message-box {
  height: 70px;

  width: 50%;

  background-color: rgb(232, 232, 232);

  display: flex;
  justify-content: center;
  align-items: center;
}
.utility .message-box span {
  width: 95.5%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.8rem;
  font-family: "Source Code Pro", monospace;

  color: lightgray;
  background-color: black;
}
.x-turn i {
  color: yellow;
}

.o-turn i {
  font-size: 2rem;
  color: rgb(255, 53, 161);
}
.utility .message-box span.x-win {
  color: yellow;
}
.utility .message-box span.o-win {
  color: rgb(255, 53, 161);
}
