:root {
  --border-dashed: 1px dashed red;
  --border-black: 1px solid black;
  --border-gray: 1px solid gray;

  --project-width: 1030px;
  --project-height: 630px;

  --card-width: 500px;
  --card-height: 600px;

  --card-padding: 15px;

  --game-info-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: white;
}

.PROJECT {
  width: var(--project-width);
  height: var(--project-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hidden {
  display: none;
}

#lpu-logo {
  width: 50px;
  height: 50px;
}
