*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

/* html,
body {
  width: 100vw;
  height: 100vh;
} */

:root {
  --cell-size: 80px;
  --board-width: 320px;
  --board-height: 360px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --board-bg: white;
  --body-bg: whitesmoke;
  --outer-circle-color: black;
  --cross-color: black;
  --inner-circle-color: var(--board-bg);
}

html {
  background-color: rgb(255, 185, 158);
  display: flex;
}

body {
  margin: auto;

  width: 800px;
  height: 100vh;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  background-color: var(--body-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
