*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

:root {
  --roundness: 10px;
  --body-bg: #f5f6f7;
  --mark-size: calc(var(--cell-size) * 0.9);

  --outer-circle-color: black;
  --cross-color: black;
  --inner-circle-color: var(--board-bg);

  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --game-section-bg: white;

  --personal-information-text-color: indigo;
  --personal-information-bg: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--body-bg);

  flex-direction: column;
  row-gap: 20px;
}

h1#game-name {
  color: rgb(255, 105, 50);
  text-align: center;
  width: 100%;
  font-weight: 800;
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
}
#lpu-logo {
  width: 50px;
  height: 50px;
}
